{% extends "base.html" %}
{% load static %}

{% block title %} Расчет {% endblock %}

{% block menu %}
<ul class="rd-navbar-nav">
  <li class="rd-nav-item"><a class="rd-nav-link" href="{% url "index_url" %}">Главная</a>
  </li>
  <li class="rd-nav-item active"><a class="rd-nav-link" href="{% url "calculation_url" %}">Расчет</a>
  </li>
  <li class="rd-nav-item"><a class="rd-nav-link" href="{% url "grath_url" %}">Графики</a>
  </li>
  <li class="rd-nav-item"><a class="rd-nav-link" href="{% url "analysis_url" %}">Анализ</a>
  </li>
</ul>
{% endblock %}

{% block content %}
<section class="breadcrumbs-custom-inset">
  <div class="breadcrumbs-custom context-dark bg-overlay-60">
    <div class="container">
      <h2 class="breadcrumbs-custom-title">РАСЧЕТ</h2>
      <ul class="breadcrumbs-custom-path" style="color: #212121;">
        <li><a href="{% url "index_url" %}">Главная</a></li>
        <li class="active">Графики</li>
      </ul>
    </div>
    <div class="box-position" style="background-image: url({% static "images/my/top_dark_1.jpg" %});"></div>
  </div>
</section>

<section class="section section-sm section-last text-left">
  <div class="container">
    <article class="title-classic">
      <div class="title-classic-title">
        <h3 style="color: #212121;">Код жизни</h3>
      </div>
      <div class="title-classic-text">
        <p style="color: #212121;">Введите имя и дату рождения, чтобы получить значение Вашего кода жизни</p>
      </div>
    </article>
    <!-- data-form-output="form-output-global" -->
    <form class="rd-form rd-form-variant-2 rd-mailform" data-form-type="contact"
      method="post" action="">
      <div class="row row-14 gutters-14">
        <div class="col-md-8">
          <div class="form-wrap">
            <input class="form-input" id="contact-your-name-2" type="text" name="name" data-constraints="@Required">
            <label class="form-label" for="contact-your-name-2">Ваше имя</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-wrap">
            <input class="form-input" id="contact-date-2" type="date" name="date">
            <label class="form-label" for="contact-date-2"></label>
          </div>
        </div>
      </div>
      <button class="button button-primary button-pipaluk" type="submit">Расcчитать</button>
    </form>
  </div>
</section>

<!-- Counter Classic-->
<section class="section section-fluid bg-default">
  <div class="parallax-container" data-parallax-img="{% static "images/my/counter.jpg" %}">
    <div class="parallax-content section-xl context-dark bg-overlay-26">
      <h1 class="text-spacing-25 font-weight-normal title-opacity-9" style="margin-bottom: 40px; margin-top: -50px;">
        Статистика</h1>
      <div class="container">
        <div class="row row-50 justify-content-center border-classic">
          <div class="col-sm-6 col-md-5 col-lg-3">
            <div class="counter-classic">
              <div class="counter-classic-number"><span class="counter">10</span><span class="symbol">k</span>
              </div>
              <h5 class="counter-classic-title">Всего</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-3">
            <div class="counter-classic">
              <div class="counter-classic-number"><span class="counter">8</span><span class="symbol">k</span>
              </div>
              <h5 class="counter-classic-title">Последний год</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-3">
            <div class="counter-classic">
              <div class="counter-classic-number"><span class="counter">150</span><span class="symbol"></span>
              </div>
              <h5 class="counter-classic-title">Последний месяц</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-3">
            <div class="counter-classic">
              <div class="counter-classic-number"><span class="counter">10</span><span class="symbol"></span>
              </div>
              <h5 class="counter-classic-title">Сегодня</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}